In [44]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
from datetime import datetime

In [105]:
df = pd.read_csv("C:/Users/vidis/OneDrive/Desktop/Summer2022/Project Work/non_agg_meterid.csv", sep=',')
df = df.drop(['meter_id', 'spot_price_no_vat', 'amount_no_vat','amount_with_vat','vat_percent','ediel_product_code','kwh_fee_no_vat' ], axis=1)

df['timeslot'] = pd.to_datetime(df['timeslot'], utc=True)
df.set_index('timeslot', inplace=True, drop=True)

In [106]:
pf = pd.DataFrame({'timeslot': []})
pf['timeslot'] = pd.date_range(start="2016-09-03 22:00:00+0000", end="2019-05-14 21:00:00+0000", freq='H')
pf.set_index('timeslot')

Empty DataFrame
Columns: []
Index: [2016-09-03 22:00:00+00:00, 2016-09-03 23:00:00+00:00, 2016-09-04 00:00:00+00:00, 2016-09-04 01:00:00+00:00, 2016-09-04 02:00:00+00:00, 2016-09-04 03:00:00+00:00, 2016-09-04 04:00:00+00:00, 2016-09-04 05:00:00+00:00, 2016-09-04 06:00:00+00:00, 2016-09-04 07:00:00+00:00, 2016-09-04 08:00:00+00:00, 2016-09-04 09:00:00+00:00, 2016-09-04 10:00:00+00:00, 2016-09-04 11:00:00+00:00, 2016-09-04 12:00:00+00:00, 2016-09-04 13:00:00+00:00, 2016-09-04 14:00:00+00:00, 2016-09-04 15:00:00+00:00, 2016-09-04 16:00:00+00:00, 2016-09-04 17:00:00+00:00, 2016-09-04 18:00:00+00:00, 2016-09-04 19:00:00+00:00, 2016-09-04 20:00:00+00:00, 2016-09-04 21:00:00+00:00, 2016-09-04 22:00:00+00:00, 2016-09-04 23:00:00+00:00, 2016-09-05 00:00:00+00:00, 2016-09-05 01:00:00+00:00, 2016-09-05 02:00:00+00:00, 2016-09-05 03:00:00+00:00, 2016-09-05 04:00:00+00:00, 2016-09-05 05:00:00+00:00, 2016-09-05 06:00:00+00:00, 2016-09-05 07:00:00+00:00, 2016-09-05 08:00:00+00:00, 2016-09-05 09:00:00+00:00, 2016-09-05 10:00:00+00:00, 2016-09-05 11:00:00+00:00, 2016-09-05 12:00:00+00:00, 2016-09-05 13:00:00+00:00, 2016-09-05 14:00:00+00:00, 2016-09-05 15:00:00+00:00, 2016-09-05 16:00:00+00:00, 2016-09-05 17:00:00+00:00, 2016-09-05 18:00:00+00:00, 2016-09-05 19:00:00+00:00, 2016-09-05 20:00:00+00:00, 2016-09-05 21:00:00+00:00, 2016-09-05 22:00:00+00:00, 2016-09-05 23:00:00+00:00, 2016-09-06 00:00:00+00:00, 2016-09-06 01:00:00+00:00, 2016-09-06 02:00:00+00:00, 2016-09-06 03:00:00+00:00, 2016-09-06 04:00:00+00:00, 2016-09-06 05:00:00+00:00, 2016-09-06 06:00:00+00:00, 2016-09-06 07:00:00+00:00, 2016-09-06 08:00:00+00:00, 2016-09-06 09:00:00+00:00, 2016-09-06 10:00:00+00:00, 2016-09-06 11:00:00+00:00, 2016-09-06 12:00:00+00:00, 2016-09-06 13:00:00+00:00, 2016-09-06 14:00:00+00:00, 2016-09-06 15:00:00+00:00, 2016-09-06 16:00:00+00:00, 2016-09-06 17:00:00+00:00, 2016-09-06 18:00:00+00:00, 2016-09-06 19:00:00+00:00, 2016-09-06 20:00:00+00:00, 2016-09-06 21:00:00+00:00, 2016-09-06 22:00:00+00:00, 2016-09-06 23:00:00+00:00, 2016-09-07 00:00:00+00:00, 2016-09-07 01:00:00+00:00, 2016-09-07 02:00:00+00:00, 2016-09-07 03:00:00+00:00, 2016-09-07 04:00:00+00:00, 2016-09-07 05:00:00+00:00, 2016-09-07 06:00:00+00:00, 2016-09-07 07:00:00+00:00, 2016-09-07 08:00:00+00:00, 2016-09-07 09:00:00+00:00, 2016-09-07 10:00:00+00:00, 2016-09-07 11:00:00+00:00, 2016-09-07 12:00:00+00:00, 2016-09-07 13:00:00+00:00, 2016-09-07 14:00:00+00:00, 2016-09-07 15:00:00+00:00, 2016-09-07 16:00:00+00:00, 2016-09-07 17:00:00+00:00, 2016-09-07 18:00:00+00:00, 2016-09-07 19:00:00+00:00, 2016-09-07 20:00:00+00:00, 2016-09-07 21:00:00+00:00, 2016-09-07 22:00:00+00:00, 2016-09-07 23:00:00+00:00, 2016-09-08 00:00:00+00:00, 2016-09-08 01:00:00+00:00, ...]

[23592 rows x 0 columns]

In [113]:
hf = pd.merge(pf, df, on='timeslot',how='left')
hf.set_index('timeslot', inplace=True, drop=True)
hf

                                  type  num_kwh
timeslot
2016-09-03 22:00:00+00:00       elcert    0.000
2016-09-03 22:00:00+00:00  consumption    0.000
2016-09-03 23:00:00+00:00       elcert    1.000
2016-09-03 23:00:00+00:00  consumption    1.000
2016-09-04 00:00:00+00:00       elcert    1.000
...                                ...      ...
2019-05-14 19:00:00+00:00   production    0.000
2019-05-14 20:00:00+00:00  consumption    3.311
2019-05-14 20:00:00+00:00   production    0.000
2019-05-14 21:00:00+00:00  consumption    2.197
2019-05-14 21:00:00+00:00   production    0.000

[63931 rows x 2 columns]

In [120]:
hf_prod = hf[hf['type'] == 'production']
hf_cons = hf[hf['type'] == 'consumption']

In [123]:
hf_prod.to_csv(r'C:\Users\vidis\OneDrive\Desktop\Summer2022\Project Work\prod.csv')
hf_cons.to_csv(r'C:\Users\vidis\OneDrive\Desktop\Summer2022\Project Work\cons.csv')

In [ ]:
result = seasonal_decompose(hf_prod[''], model='multiplicable', period=12)